
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body style="text-align:center">
    <h2> Đơn Hàng Đã Được Đặt Thành Công </h2>
    <h4> Đơn hàng của các bạn đã gửi đến shop. Bạn sẽ nhận được hàng trong 2-3 ngày.Cảm ơn</h4>
    <a href="@Url.Action("Index","Product")"> Tiếp tục mua hàng ...</a>
</body>
</html>