

<h2> Giỏ Hàng</h2>
<a href="@Url.Action("Index","Product")"> Tiếp tục mua hàng</a>
<table class="table">
    <thead>
        <tr>
            <th>Tên Sản Phẩm</th>
            <th>Hình Sản Phẩm</th>
            <th>Gía</th>
            <th> Số Lượng</th>
            <th> Thành Tiền</th>
            <th></th>


        </tr>
        <tbody>
            <tr>
                <td colspan="6">
                    Chưa có sản phẩm nào...
                </td>
            </tr>
        </tbody>
     </thead>
</table>
